#wrapper {
	width: 100%;
	font-size: 1em;
	font-family: 'roboto', arial, sans-serif;
}

h1, h2, h3, p, a, th, td, span {
  color: #968A87;
  text-decoration: none;
	font-family: 'roboto', arial, sans-serif;
}

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	background-color: #282828;
  background-color: #151515;
  margin: 0;
  padding: 0;
	min-width: 100vw;

}

#particles-js {
	height: 103%;
  width: 100%;
  position: fixed;
  z-index: -1;
}








.space {
  height: 160px;
  width: 100%;
}
