section {
  min-height: 100vh;
	height: auto;
}

.separator {
  height: 70px;
}
.separator hr {
  width: 300px;
  background-color: #968A87;
  color: #968A87;
  border: none;
  border-radius: 2px;
  height: 4px;
}

section .headline {
  height: 150px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

section .headline h1 {
  padding-top: 40px;
  color: #1F5C39;
  font-size: 40px;
  font-weight: bolder;
}

section .content {
  width: 100%;
  min-height: 42vh;
  height: auto;
  margin-bottom: 84px;
}


section .back-button {
  height: 150px;
  width: 100%;
  text-align: center;
}

section .back-button .space {
  height: 50px;
}

section .back-button button {
  font-size: 20px;
  background-color: #1f1f1f;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 7px;


  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.2);
  border: none;
  transition: all 0.5s;
}

section .back-button button:hover {
	background-color: #1F5C39;
  cursor: pointer;
  transform: scale(1.1);
	transition: all 0.5s;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
}
